/*Sass Mixins for Shivam Bagdia Architecture's Website*/

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin border-radius($percent) {
	-webkit-border-radius: $percent;
	-moz-border-radius: $percent;
	-ms-border-radius: $percent;
	border-radius: $percent;
}

@mixin transition($transitions) {
	-webkit-transition: $transitions;
	-moz-transition: $transitions;
	-ms-transition: $transitions;
	transition: $transitions;
} 

@mixin filter($filter) {
	-webkit-filter: $filter; /* Safari 6.0 - 9.0 */
    filter: $filter;
}