/*Sass Variables for Shivam Bagdia Architecture*/

$dark-brown:#63523F;
$light-brown:#957B5F;
$cream: #FFFBF4;
$almost-black: #2B2B2B;
$light-grey: #808080;

$nav-font:  'Barlow', sans-serif;
$hover-font: 'Exo 2', sans-serif;

$projects-grid: (
	columns: 26, 
	direction: ltr,
	gutter: 0px,
	media:  'only screen and (max-width: 575px)',
);
