/*Shivam CSS*/
body { 
	background-color: #FFFBF4;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-right: 0;
	padding-left: 0;
}

.footer { 
	line-height: 30px;

}

#slides { 
	max-width: 100%;
}

#slides img { 
	max-width: 100%;
} 

.navbar {
    text-align: right;
    display: block;
	background-color: #FFFBF4;
	padding-top: 5.6vh;
	padding-right: 5vh;
	color: #808080;
	height: 15vh;
	font-size: 2.2vh;
}

.navbar a {
	color: #808080;
	font-family: 'Barlow', sans-serif;
}

.navbar a:hover {
	color: #957B5F;
	text-decoration: none;
}

.navbar a.active { 
	color: #63523F;
}

.divider { 
	color: #808080;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	background-color: #63523F;
}

.carousel-item.active { 
	fill-color: #63523F;
}

#footer { 
	margin-top: 20vh;
	margin-right: 0vh;
	height: 23vh;
	background-color: #2B2B2B;
	font-family: 'Barlow', sans-serif;
	color: white;
	font-size: 2.2vh;
	line-height: 2.1vh;
}

.info { 
	padding-top: 3.6vh;
	padding-bottom: 3vh;
	padding-left: 35vh;
}

.filler { 
	height: 7vh;
}

.snippet img { 
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
}

.overlay { 
	position: absolute;
	top: 0;
  	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0.85;
	transition: .5s ease-in-out;
	background-color: #63523F;
}

.snippet:hover .overlay {
	opacity: 0;
}
  
.projNum {
  color: #FFFBF4;
  font-size: 10vh;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Exo 2', sans-serif;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.details-img {
	background-color: #63523F;
	color: #FFFBF4;
	text-align: center;
	height: 35.2vh;
	padding-top: 10vh;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
}

#smlTxt { 
	text-align: center;
	font-size: 5vh;
	line-height: 8vh;
}
