/*Shivam CSS*/
body { 
	background-color: #FFFBF4;
}

.footer { 
	line-height: 30px;

}

#slides { 
	min-width: 100vh;
}

#slides img { 
	min-width: 100vh;
} 

.navbar {
    text-align: right;
    display: block;
	background-color: #FFFBF4;
	padding-top: 1.5vh;
	padding-right: 5vh;
	color: #808080;
	height: 8vh;
	font-size: 2.5vh;
}

.navbar a {
	color: #808080;
	font-family: 'Barlow', sans-serif;
}

.navbar a:hover {
	color: #957B5F;
	text-decoration: none;
}

.navbar a.active { 
	color: #63523F;
}

.divider { 
	color: #808080;
}
